ul.profiles {
  list-style: none;
  margin: 50px;
}

ul.profiles li {
  padding: 10px 20px;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

ul.profiles li  button.link {
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;
}